<script>
  UserVoice=window.UserVoice||[];(function(){var uv=document.createElement('script');uv.type='text/javascript';uv.async=true;uv.src='//widget.uservoice.com/dkwfnOOqzNTtI3IdmTtUw.js';var s=document.getElementsByTagName('script')[0];s.parentNode.insertBefore(uv,s)})();
  UserVoice.push(['set', {
    accent_color: '#3b94d9', 
    trigger_color: 'white', 
    trigger_background_color: 'rgba(46, 49, 51, 0.6)'
  }]);
  {% if not current_user.is_anonymous() %}
  UserVoice.push(['identify', {
    id: {{ current_user.id }},
    email: '{{ current_user.email or current_user.screen_name + '@svven.com' }}',
    name: '{{ current_user.name }}',
    created_at: {{ current_user.registered_at_ux }}
  }]);{% endif %}
  UserVoice.push(['addTrigger', {trigger_position: 'bottom-right' }]);
  UserVoice.push(['autoprompt', {}]);
</script>