{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "bootstrap/fixes.html" as fixes %}
{% import "bootstrap/google.html" as google %}

{% block head %}
{{super()}}
{{fixes.ie8()}}
{% endblock %}

{% block styles %}
{{super()}}
    <link rel="stylesheet" href="{{url_for('static', filename='css/index.css')}}">
    <link rel="icon" type="image/png" href="{{url_for('static', filename='favicon.png')}}">
    <link rel="apple-touch-icon" href="{{url_for('static', filename='logo.png')}}">
    <link rel="apple-touch-startup-image" href="{{url_for('static', filename='logo.png')}}">
{% endblock %}

{% block scripts %}
{{super()}}
{{google.uanalytics('UA-60733932-1')}}
{% endblock %}