{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "bootstrap/fixes.html" as fixes %}
{% import "bootstrap/google.html" as google %}

{% block head %}
{{super()}}
{{fixes.ie8()}}
{% endblock %}

{% block styles %}
{{super()}}
    <link rel="stylesheet" href="{{url_for('static', filename='css/index.css')}}">
    <link rel="icon" type="image/png" href="{{url_for('static', filename='favicon.png')}}">
{% endblock %}

{% block scripts %}
{{super()}}
	<script src="{{url_for('static', filename='js/header.js')}}"></script>
	<script src="{{url_for('static', filename='js/jquery.ba-hashchange.min.js')}}"></script>
{{google.uanalytics(id=config['GOOGLE_ANALYTICS_ID'],
                    domain=config['GOOGLE_ANALYTICS_DOMAIN'])}}
{% endblock %}