/*
 * Style tweaks
 * --------------------------------------------------
 */
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.debug {
  display: none !important;
}

/*
 * Header
 * --------------------------------------------------
*/
#header {
  position: fixed;
  z-index: 1;
  top: 0; left: 0;
  width: 100%;
  height: 70px;
  background-color: rgba(255,255,255,0.9);
  border-bottom: solid 1px #eee;
  transition: top 0.2s ease-in-out;
}
  #header > * {
    position: relative;
    margin: 0 15px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
.noheader {
  top: -70px !important; /* #header height */
}

.brand {
}
  .brand .logo {
    width: 50px;
    height: 50px;
    fill: #5b5256;
  }
  .brand .logo:hover {
    fill: #222222;
  }
.menu {
}
  .menu .reader {
    width: 38px;
    height: 38px;
  }
  .menu .icon {
    width: 38px;
    height: 38px;
    fill: #5b5256;
    border-color: #dddddd;
    border-width: 1px;
    border-style: solid;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
  }
    .menu .icon:hover {
      fill: #222222;
      border-color: #aaaaaa;
    }
    .menu li {
      float: left;
      margin-left: 15px;
    }

/*.twitter {
  width: 32px;
  height: 32px;
}
.twitter .marque-path {
  fill: #cdd6dd;
}*/

.reader {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
}

/*
 * Container Fluid
 * --------------------------------------------------
*/
.container-fluid {
  position: relative;
  min-width: 320px;
  max-width: 1080px;
}
  .container-fluid .row {
    margin-left: -15px;
    margin-right: 0px;
  }
  .container-fluid > * {
    padding: 0 15px;
  }

@media (max-width: 480px) {
  .container-fluid > * {
    padding: 0;
  }
}

/*
 * Grid
 * --------------------------------------------------
*/
.enable-sm,
.enable-md,
.enable-lg {
  display: none !important;
}

@media (max-width: 670px) {
  .enable-sm {
    display: block !important;
  }

  .link, .fellow {
    width: 100%; /*1 col*/
  }
}

@media (min-width: 671px) and (max-width: 980px) {
  .enable-md {
    display: block !important;
  }

  .link, .fellow {
    width: 50%; /*2 cols*/
  }
}

@media (min-width: 981px) {
  .enable-lg {
    display: block !important;
  }

  .link, .fellow {
    width: 33.3333%; /*3 cols*/
  }
}

/*
 * Edition
 * --------------------------------------------------
*/
#edition {
  position: absolute;
  padding-top: 70px;
  padding-bottom: 70px;
  /* display: none; */
}
  #edition:target {
    display: block;
  }

.link {
  font-family: Georgia;
  position: relative;
  float: left;
  margin-top: 40px;
  padding-left: 20px;
  padding-right: 20px;
  
  -ms-word-break: break-all;
  word-break: break-all;
  word-break: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
}
  .link .reader {
    width: 32px;
    height: 32px;
  }
  .link + .clearfix {
    margin: 0 15px;
    /* underline */
    /* padding-bottom: 15px; */
    /* border-bottom: solid 1px #eee; */
  }


.crop {
  float: right;
  overflow: hidden;
  width: 40%;
  height: auto;

  padding: 1px;
  margin-left: 5px;
  margin-bottom: 5px;
}
  .crop div {
    position: relative;
    max-width: none;
    width: auto;
    height: auto;
    margin-top: 0;
    padding-top: 80%;
}
  .crop img {
    position: absolute;
    left: -100%;
    right: -100%;
    top: -100%;
    bottom: -100%;
    width: auto;
    height: 120%;
    margin: auto; 
    -ms-interpolation-mode: bicubic;
  }

.image {
}

.title {
  font-family: Helvetica,Arial,sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  margin-top: 0;
}
  .title a {
    color: #5b5256;
  }
    .title a:hover {
      text-decoration: none;
      color: #222222;
    }

.site {
  font-family: Helvetica,Arial,sans-serif;
  font-size: 16px;
  line-height: 22px;
  color: #999999;
}

.description {
  font-size: 16px;
  line-height: 22px;
  color: #333333;
}

.readers a {
  margin-top: 4px;
  margin-right: 4px;
}

/*
 * Fellows
 * --------------------------------------------------
*/
#fellows {
  /* position: absolute; */
  padding-top: 70px;
  padding-bottom: 70px;
  display: none;
}
  #fellows:target {
    display: block;
  }
  #fellows:target + #edition {
    display: none;
  }

.fellow {
  position: relative;
  float: left;
  margin-top: 40px;
  padding-left: 20px;
  padding-right: 20px;
}
  .fellow a {
    float: left;
  }
  .fellow a:hover {
    text-decoration: none;
  }
  .fellow .pic {
    float: left;
    margin-right: 10px;
  }
    .fellow .reader {
      width: 48px;
      height: 48px;
    }
  .fellow .info {
    float: left;
  }
    .fellow .name {
      font-size: 16px;
      font-weight: 700;
      color: #5b5256;
    }
    .fellow .screen_name {
      line-height: 28px;
      padding-top: 5px;
      color: #999999;
    }
