/*
 * Style tweaks
 * --------------------------------------------------
 */
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.pull-center {
  margin: 0 auto !important;
}

.anchor {
  color: #428bca;
}
  .anchor:hover, .anchor:focus {
    color: #2a6496;
    text-decoration: underline;
  }

.underline {
  padding-bottom: 15px;
  border-bottom: solid 1px #eee;
}

.debug {
  display: none !important;
}

/*
 * Container Fluid
 * --------------------------------------------------
*/
.container-fluid {
  position: relative;
  min-width: 320px;
  max-width: 1080px;
}
  .container-fluid .row {
    margin-left: -15px;
    margin-right: 0;
  }
  .container-fluid > * {
    padding-left: 15px;
    padding-right: 15px;
  }

@media (max-width: 480px) {
  .container-fluid > * {
    padding-left: 0;
    padding-right: 0;
  }
}

/*
 * Mug
 * --------------------------------------------------
*/
.mug {
}
.pic {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
}
.mug-sm > .pic {
  width: 32px;
  height: 32px;
}
.mug-md > .pic {
  width: 38px;
  height: 38px;
}
.mug-lg > .pic {
  width: 48px;
  height: 48px;
}

/*
 * Icons
 * --------------------------------------------------
*/
.icon {
  display: inline-block;
  vertical-align: top;
  fill: none;
  stroke: #5b5256;
  stroke-width: 13;
  stroke-miterlimit: 10;
}
  .icon:hover {
    stroke: #222222;
  }
.icon-tn {
  width: 24px;
  height: 24px;
}
.icon-sm {
  width: 38px;
  height: 38px;
}
.icon-lg {
  width: 72px;
  height: 72px;
}

.bird {
  display: inline-block;
  vertical-align: top;
  fill: #55acee; /*#8899a6;*/
}
  .bird:hover {
    /*fill: #66757f;*/
  }

/*
 * Header
 * --------------------------------------------------
*/
#header {
  position: fixed;
  z-index: 1;
  top: 0; left: 0;
  width: 100%;
  height: 70px;
  background-color: rgba(255,255,255,0.9);
  border-bottom: solid 1px #eee;
  transition: top 0.2s ease-in-out;
}
  #header > * {
    position: relative;
    margin: 0 15px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
.noheader {
  top: -70px !important; /* #header height */
}

.brand {
}
  .brand .logo {
    width: 38px;
    height: 38px;
    fill: #5b5256;
  }
  .brand .logo:hover {
    fill: #222222;
  }
.mugshot {
  width: 38px;
}
.burger {
}
.context {
}
  .context li {
    margin-top: 10px;
  }
.menu {
}
  .menu li {
    float: left;
    margin-top: 0;
    margin-left: 10px;
  }

/*
 * Grid
 * --------------------------------------------------
*/
.enable-sm,
.enable-md,
.enable-lg {
  display: none !important;
}

@media (max-width: 670px) {
  .enable-sm {
    display: block !important;
  }

  .tab, .link, .fellow {
    width: 100%; /*1 col*/
  }
}

@media (min-width: 671px) and (max-width: 980px) {
  .enable-md {
    display: block !important;
  }

  .tab {
    width: 100%; /*1 col*/
  }
  .link, .fellow {
    width: 50%; /*2 cols*/
  }
}

@media (min-width: 981px) {
  .enable-lg {
    display: block !important;
  }

  .tab, .link, .fellow {
    width: 33.3333%; /*3 cols*/
  }
}

/*
 * Section
 * --------------------------------------------------
*/
.section {
  position: absolute;
  padding-top: 70px;
  padding-bottom: 70px;
  width: 100%;
  display: none;
}
  .section:target, .section:last-child {
    display: block;
  }
  .section:target ~ .section:last-child {
    display: none;
  }

/*
 * Profile
 * --------------------------------------------------
*/
#profile {
}

.profile .card {
  margin-top: 20px;
  max-width: 360px;
}
  .profile .name {
    display: inline-block;
  }
  .profile .user {
    margin-top: 10px;
  }
  .profile .bird {
    margin-right: 5px;
  }

.na {
  margin-top: 30px;
}

.tab {
  position: relative;
  float: left;
  margin-top: 50px;
  /*padding-left: 20px;*/
  /*padding-right: 20px;*/
}
  .tab a {
    color: #5b5256;
  }
  .tab a:hover {
    text-decoration: none;
    color: #222222;
  }
  .tab a:hover .icon {
    stroke: #222222;
  }
  .tab .icon {
    margin-left: -15px;
  }
  .tab > .clearfix {
    margin: 0 15px;
  }
  .tab .more {
    margin-top: 30px;
  }

.top {
  margin-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
}
  .top .mug {
    clear: left;
    float: left;
    margin-right: 10px;
  }
  .top .details {
    line-height: 30px;
    padding-bottom: 2px;
  }

.screen_name {
  color: #999999;
}
  .user .screen_name {
    font-size: 20px;
  }
  .top .screen_name {
    /*font-size: 14px;*/
  }

/*
 * Marks
 * --------------------------------------------------
*/
#marks {
}

/*
 * Edition
 * --------------------------------------------------
*/
#edition {
}

.link {
  font-family: Georgia;
  position: relative;
  float: left;
  margin-top: 40px;
  padding-left: 20px;
  padding-right: 20px;
  
  -ms-word-break: break-all;
  word-break: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
}
  .link + .clearfix {
    margin: 0 15px;
    /* underline */
    /* padding-bottom: 15px; */
    /* border-bottom: solid 1px #eee; */
  }

.title {
  font-family: Helvetica,Arial,sans-serif;
}
  .link .title {
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    margin-top: 0;
  }
  .title a {
    color: #5b5256;
  }
    .title a:hover {
      text-decoration: none;
      color: #222222;
    }

.site {
  font-family: Helvetica,Arial,sans-serif;
  color: #999999;
}
  .link .site {
    font-size: 16px;
    line-height: 22px;    
  }

.crop {
  float: right;
  overflow: hidden;
  width: 40%;
  height: auto;

  padding: 1px;
  margin-left: 5px;
  margin-bottom: 5px;
}
  .crop div {
    position: relative;
    max-width: none;
    width: auto;
    height: auto;
    margin-top: 0;
    padding-top: 80%;
}
  .crop img {
    position: absolute;
    left: -100%;
    right: -100%;
    top: -100%;
    bottom: -100%;
    width: auto;
    height: 120%;
    margin: auto; 
    -ms-interpolation-mode: bicubic;
  }

.image {
}

.description {
  font-size: 16px;
  line-height: 22px;
  color: #333333;
}

.readers {
  margin-top: 5px;  
}
.readers a {
  margin-right: 10px;
}

/*
 * Fellows
 * --------------------------------------------------
*/
#fellows {
}
.fellow {
  position: relative;
  float: left;
  margin-top: 40px;
  padding-left: 20px;
  padding-right: 20px;
}
  .fellow a {
    float: left;
  }
  .fellow a:hover {
    text-decoration: none;
  }
  .fellow a:hover .name {
    color: #222222;
  }
  .fellow .mug {
    float: left;
    margin-right: 15px;
  }
  .fellow .details {
    float: left;
  }
    .fellow .name {
      font-size: 18px;
      font-weight: 700;
      color: #5b5256;
      margin-bottom: 5px;
    }
    .fellow .screen_name {
      font-size: 16px;
      margin-bottom: 0;
    }
