/*
 * Style tweaks
 * --------------------------------------------------
 */
html,
body {
  margin: 0;
  padding: 0;
}

.pull-center {
  margin: 0 auto !important;
}

.anchor {
  color: #428bca;
}
  .anchor:hover, .anchor:focus {
    color: #2a6496;
    text-decoration: underline;
  }

.underline {
  padding-bottom: 10px;
  border-bottom: solid 1px #eee;
}

.debug {
  display: none !important;
}

/*
 * Container Fluid
 * --------------------------------------------------
*/
.container-fluid {
  position: relative;
  min-width: 320px;
  max-width: 1080px;
  padding-left: 0;
  padding-right: 0;
}
  .container-fluid .row {
    margin-left: 0;
    margin-right: 0;
  }
  .container-fluid > * {
    padding-left: 15px;
    padding-right: 15px;
  }

@media (max-width: 480px) {
  .container-fluid > * {
    padding-left: 0;
    padding-right: 0;
  }
}

/*
 * Mug
 * --------------------------------------------------
*/
.mug {
}
.pic {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
}
.mug-sm > .pic {
  width: 32px;
  height: 32px;
}
.mug-md > .pic {
  width: 38px;
  height: 38px;
}
.mug-lg > .pic {
  width: 48px;
  height: 48px;
}

/*
 * Icons
 * --------------------------------------------------
*/
.icon {
  display: inline-block;
  vertical-align: top;
  fill: none;
  stroke: #5b5256;
  stroke-width: 13;
  stroke-miterlimit: 10;
}
  .icon:hover {
    stroke: #222222;
  }
.icon-tn {
  width: 24px;
  height: 24px;
}
.icon-sm {
  width: 38px;
  height: 38px;
}
.icon-lg {
  width: 72px;
  height: 72px;
}

.bird {
  display: inline-block;
  vertical-align: top;
  fill: #55acee; /*#8899a6;*/
}
  .bird:hover {
    /*fill: #66757f;*/
  }

/*
 * Front
 * --------------------------------------------------
*/
#front {
}
.pane {
  position: relative;
  float: left;
  padding-left: 20px;
  padding-right: 20px;
}

  .pane .brand {
    display: inline-block;
  }
  .brand .logo {
    width: 38px;
    height: 38px;
    fill: #5b5256;
  }
  .brand .logo:hover {
    fill: #222222;
  }

  .pane .underline {
    margin-top: 30px;
    border-color: #5b5256;
    width: 33.3333%
  }

  .pane .features {
    margin-top: 100px;
  }

.carousel {
}
  .carousel .device {
    margin-top: 50px;
    margin-left: -5px;
  }
  .carousel-caption {
    color: #5b5256;
    text-shadow: none;
    top: -50px;
    bottom: auto;
    height: 50px;
    padding: 0;
  }
    .carousel-caption > * {
      margin: 0;
    }
  .carousel-control {
    text-shadow: none;
    background-image: none !important;
  }
    .carousel-control:hover, .carousel-control:focus {
    }
  .carousel-indicators {
    bottom: -30px;
  }
    .carousel-indicators li {
      margin: 0 5px;
      border: none;
      background-color: #cccccc;
    }
    .carousel-indicators li:hover, .carousel-indicators li:focus {
      background-color: #999999;
    }
    .carousel-indicators li.active {
      margin: 0 5px;
      width: 10px;
      height: 10px;
      background-color: #666666;
    }
  .carousel-prev, .carousel-next {
      position: absolute;
      background-repeat: no-repeat;
      top: 50%;
      width: 30px;
      height: 30px;
  }
    .carousel-prev {
      left: 30px;
      background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23666666'%2F%3E%3C%2Fsvg%3E");
    }
    .carousel-next {
      right: 30px;
      background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23666666'%2F%3E%3C%2Fsvg%3E");
    }

@media (max-width: 670px) {
    .pane .brand {
    }
    .pane .explanation {
    }
}

@media (min-width: 671px) and (max-width: 980px) {
    .pane .brand {
    }
    .pane .explanation {
    }
}

@media (min-width: 981px) {
  .pane {
    margin-top: 30px;
  }
    .pane-first {
      width: 33.3333%;
    }
    .pane-second {
      width: 66.6666%
    }

    .pane .brand {
      width: 200px;
      margin-top: 60px;
    }
    .pane .explanation {
      font-size: 20px;
      margin-top: 20px;
    }
    .pane .carousel {
      margin-top: 70px;
    }
}


/*
 * Header
 * --------------------------------------------------
*/
#header {
  position: fixed;
  z-index: 1;
  top: 0; left: 0;
  width: 100%;
  height: 70px;
  background-color: rgba(255,255,255,0.9);
  /*border-bottom: solid 1px #eee;*/
  transition: top 0.2s ease-in-out;
}
  #header > * {
    position: relative;
    margin: 0 15px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
.noheader {
  top: -70px !important; /* #header height */
}

.mugshot {
  width: 38px;
}
.burger {
}
.context {
}
  .context li {
    margin-top: 10px;
    border-bottom: solid 3px rgba(255,255,255,0.9);
  }
.menu {
}
  .menu li {
    float: left;
    margin-top: 0;
    margin-left: 10px;
  }
  .menu li.active {
  border-bottom: solid 3px #5b5256 !important; /*#222222*/
}

.popover.bottom {
  margin-top: 20px;
}

/*
 * Grid
 * --------------------------------------------------
*/
.enable-sm,
.enable-md,
.enable-lg {
  display: none !important;
}

@media (max-width: 670px) {
  .enable-sm {
    display: block !important;
  }

  .tab, .link, .fellow {
    width: 100%; /*1 col*/
  }
}

@media (min-width: 671px) and (max-width: 980px) {
  .enable-md {
    display: block !important;
  }

  .tab {
    width: 100%; /*1 col*/
  }
  .link, .fellow {
    width: 50%; /*2 cols*/
  }
}

@media (min-width: 981px) {
  .enable-lg {
    display: block !important;
  }

  .tab, .link, .fellow {
    width: 33.3333%; /*3 cols*/
  }
}

/*
 * Section
 * --------------------------------------------------
*/
.section {
  position: absolute;
  padding-top: 70px;
  padding-bottom: 70px;
  width: 100%;
  display: none;
}
  .section:target, .section:last-child {
    display: block;
  }
  .section:target ~ .section:last-child {
    display: none;
  }

/*
 * Profile
 * --------------------------------------------------
*/
#profile {
}

.profile .card {
  max-width: 360px;
  margin-top: 0;
  padding-left: 20px;
  padding-right: 20px;
}
  .profile h1, 
  .profile h2 {
    display: inline-block;
  }
  .profile .user {
    margin-top: 5px;
  }
  .profile .bird {
    margin-right: 5px;
  }

.user a:hover {
  text-decoration: none;
}

.na {
  margin-top: 30px;
}

.tab {
  position: relative;
  float: left;
  margin-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
}
  .tab a {
    color: #5b5256;
  }
  .tab a:hover {
    text-decoration: none;
    color: #222222;
  }
  .tab a:hover .icon {
    stroke: #222222;
  }
  .tab .icon {
    margin-left: -15px;
  }
  .tab > .clearfix {
    margin: 0 15px;
  }
  .tab .list {
    /*padding-top: 5px;*/
  }
  .tab .more {
    margin-top: 20px;
  }
  .tab .underline {
    border-color: #5b5256; /*#222222*/
    width: 33.3333%
  }
  
.explanation {
  font-weight: 300;
}
  .tab .explanation {
    font-size: 16px;
  }
  .card .explanation {
    font-size: 21px;
    margin-top: 10px;
  }

.top {
  margin-top: 20px;
  font-size: 16px;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
}
  .top .title {
    font-weight: 600;
  }
  .top .mug {
    clear: left;
    float: left;
    margin-right: 10px;
  }
  .top .details {
    line-height: 30px;
    padding-bottom: 2px;
  }
  .top .name {
    font-weight: 600;
  }

.name {
  font-family: Helvetica,Arial,sans-serif;
}
.screen_name {
  font-family: Helvetica,Arial,sans-serif;
  color: #999999;
}
  .user .screen_name {
    font-size: 20px;
    font-family: "Helvetica Neue";
  }

/*
 * Picks
 * --------------------------------------------------
*/
#picks {
}

/*
 * Edition
 * --------------------------------------------------
*/
#edition {
}

.link {
  font-family: Georgia;
  position: relative;
  float: left;
  margin-top: 40px;
  padding-left: 20px;
  padding-right: 20px;

  -ms-word-break: break-all;
  word-break: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
}
  .link + .clearfix {
    margin: 0 15px;
    /* underline */
    /* padding-bottom: 15px; */
    /* border-bottom: solid 1px #eee; */
  }

.title {
  font-family: Helvetica,Arial,sans-serif;
}
  .link .title {
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    margin-top: 0;
  }
  .title a {
    color: #5b5256;
  }
    .title a:hover {
      text-decoration: none;
      color: #222222;
    }

.site {
  font-family: Helvetica,Arial,sans-serif;
  color: #999999;
}
  .link .site {
    font-size: 16px;
    line-height: 22px;    
  }

.crop {
  float: right;
  overflow: hidden;
  width: 40%;
  height: auto;

  padding: 1px;
  margin-left: 5px;
  margin-bottom: 5px;
}
  .crop div {
    position: relative;
    max-width: none;
    width: auto;
    height: auto;
    margin-top: 0;
    padding-top: 80%;
}
  .crop img {
    position: absolute;
    left: -100%;
    right: -100%;
    top: -100%;
    bottom: -100%;
    width: auto;
    height: 120%;
    margin: auto; 
    -ms-interpolation-mode: bicubic;
  }

.image {
}

.description {
  font-size: 16px;
  line-height: 22px;
  color: #333333;
}

.readers {
}
.readers .pic {
  margin-top: 10px;
  margin-right: 10px;
}

/*
 * Fellows
 * --------------------------------------------------
*/
#fellows {
}
.fellow {
  position: relative;
  float: left;
  margin-top: 40px;
  padding-left: 20px;
  padding-right: 20px;
}
  .fellow a {
    float: left;
  }
  .fellow a:hover {
    text-decoration: none;
  }
  .fellow a:hover .name {
    color: #222222;
  }
  .fellow .mug {
    float: left;
    margin-right: 15px;
  }
  .fellow .details {
    float: left;
  }
    .fellow .name {
      font-size: 18px;
      font-weight: 700;
      color: #5b5256;
      margin-bottom: 5px;
    }
    .fellow .screen_name {
      font-size: 16px;
      margin-bottom: 0;
    }
