/*
 * Style tweaks
 * --------------------------------------------------
 */
html,
body {
  margin: 0;
  padding: 0;
}

.pull-center {
  margin: 0 auto !important;
}

.anchor {
  color: #428bca;
}
  .anchor:hover, .anchor:focus {
    color: #2a6496;
    text-decoration: underline;
  }

.underline {
  padding-bottom: 10px;
  border-bottom: solid 1px #eee;
}

.flash {
  position: fixed;
  z-index: 1;
  top: 50px;
  left: 0;
  right: 0;
  width: 95%;
  max-width: 400px;
}
  .alert {
    margin-top: 5px;
    margin-bottom: 5px;
  }

/*
 * Container Fluid
 * --------------------------------------------------
*/
.container-fluid {
  position: relative;
  min-width: 320px;
  max-width: 1080px;
  padding-left: 0;
  padding-right: 0;
}
  .container-fluid .row {
    margin-left: 0;
    margin-right: 0;
  }
  .container-fluid > * {
    padding-left: 15px;
    padding-right: 15px;
  }

  @media (max-width: 480px) {
    .container-fluid > * {
      padding-left: 0;
      padding-right: 0;
    }
  }

/*
 * Mug
 * --------------------------------------------------
*/
.mug {
}
  .pic {
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
  }
  .mug-sm > .pic {
    width: 32px;
    height: 32px;
  }
  .mug-md > .pic {
    width: 38px;
    height: 38px;
  }
  .mug-lg > .pic {
    width: 48px;
    height: 48px;
  }

/*
 * Icons
 * --------------------------------------------------
*/
.icon {
  display: inline-block;
  vertical-align: top;
  fill: none;
  stroke: #5b5256;
  stroke-width: 13;
  stroke-miterlimit: 10;
}
  .icon:hover {
    stroke: #222222;
  }
  .icon-tn {
    width: 24px;
    height: 24px;
  }
  .icon-sm {
    width: 38px;
    height: 38px;
  }
  .icon-lg {
    width: 56px;
    height: 56px;
  }

.bird {
  display: inline-block;
  /* vertical-align: top; */
  fill: #999999; /*#55acee*/
}
  .bird:hover {
    fill: #5b5256;
  }

/*
 * Front
 * --------------------------------------------------
*/
#front {
}
.pane {
  position: relative;
  float: left;
  padding-left: 20px;
  padding-right: 20px;
}
  .pane .brand {
    display: inline-block;
    width: 200px;
  }
    .brand .logo {
      width: 38px;
      height: 38px;
      fill: #5b5256;
    }
    .brand .logo:hover {
      fill: #222222;
    }
  .pane .underline {
    border-color: #5b5256;
    width: 33.3333%;
    margin-top: 20px;
  }
  .pane .explanation {
    font-size: 18px;
    font-weight: 300;
    margin-top: 20px;
  }
  .pane .story {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
    margin-top: 30px;
  }
  .pane .devices {
    width: 100%;
  }
  .pane .signup {
    margin-top: 40px;
  }
    .signup .btn {
      background-color: #55acee;
      background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0.05));
      color: #fff;
      border: 1px solid #3b94d9;
      box-shadow: inset 0 1px 0 rgba(255,255,255,0.15);
      margin-bottom: 10px;
    }
    .signup .btn:hover {
      background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0.15));
    }
    .signup .btn .bird {
      vertical-align: top;
      fill: #fff;
    }

  @media (max-width: 670px) {
    .pane {
      margin-top: 10px;
    }
      .pane-first {
        width: 100%;
      }
      .pane-second {
        width: 100%
      }
      .pane .brand {
        margin-top: 20px;
      }
      .pane .story {
        max-width: 400px;
      }
      .pane .devices {
        margin-top: 20px;
      }
  }

  @media (min-width: 671px) and (max-width: 980px) {
    .pane {
      margin-top: 20px;
    }
      .pane-first {
        width: 100%;
      }
      .pane-second {
        width: 100%
      }
      .pane .brand {
        margin-top: 40px;
        width: 300px;
      }
      .pane .explanation {
        font-size: 24px;
      }
      .pane .story {
        font-size: 18px;
        max-width: 600px;
      }
      .pane .devices {
        margin-top: 0;
        max-width: 600px;
      }
  }

  @media (min-width: 981px) {
    .pane {
      margin-top: 30px;
    }
      .pane-first {
        width: 33.3333%;
      }
      .pane-second {
        width: 66.6666%
      }
      .pane .brand {
        margin-top: 60px;
      }
      .pane .story {
        font-size: 16px;
        max-width: 400px;
      }
      .pane .devices {
        margin-top: 60px;
      }
  }

/*
 * Header
 * --------------------------------------------------
*/
#header {
  position: fixed;
  z-index: 1;
  top: 0; left: 0;
  width: 100%;
  height: 50px;
  background-image: linear-gradient(rgba(255,255,255,1),rgba(255,255,255,0.97));
  transition: top 0.2s ease-in-out;
}
  #header > * {
    position: relative;
    margin: 0 15px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  .noheader {
    top: -50px !important; /* #header height */
  }

  .mugshot {
    width: 38px;
  }

/*
 * Grid
 * --------------------------------------------------
*/
.enable-sm,
.enable-md,
.enable-lg {
  display: none !important;
}

  @media (max-width: 670px) {
    .enable-sm {
      display: block !important;
    }

    .tab, .link, .fellow {
      width: 100%; /*1 col*/
    }
  }

  @media (min-width: 671px) and (max-width: 980px) {
    .enable-md {
      display: block !important;
    }

    .tab {
      width: 100%; /*1 col*/
    }
    .link, .fellow {
      width: 50%; /*2 cols*/
    }
  }

  @media (min-width: 981px) {
    .enable-lg {
      display: block !important;
    }

    .tab, .link, .fellow {
      width: 33.3333%; /*3 cols*/
    }
  }

/*
 * Profile
 * --------------------------------------------------
*/
#profile {
}

.card {
  max-width: 360px;
  margin-top: 50px;
  padding-left: 20px;
  padding-right: 20px;
}
  .card h1 {
    font-size: 32px;
    margin-top: 16px;
    display: inline-block;
  }

  .user {
    margin-top: 5px;
    margin-bottom: 15px;
  }
    .user * {
      vertical-align: middle;
    }

    .user .screen_name {
      color: #999999;
      font-size: 20px;
      margin-left: 5px;
    }
    .user .label {
      background-color: #999999;
      margin-top: 3px;
      margin-left: 5px;
    }

    .user a:hover,
    .user a:focus {
      text-decoration: none;
      color: #5b5256;
    }
    .user a:hover .bird {
      fill: #5b5256;
    }
    .user a:hover .screen_name {
      color: #5b5256;
    }

/*
 * Menus
 * --------------------------------------------------
*/
.menu {
  font-weight: 500;
  font-size: 20px;
  line-height: 36px;
}
  .menu li {
    float: left;
    color: #5b5256;
    border-bottom: solid 3px rgba(255,255,255,0.95); /*#nav background-color*/
  }
  .menu li.active {
    color: #5b5256;
    border-bottom: solid 3px #5b5256;
  }
  .menu li:hover {
    cursor: pointer;
    color: #222222;
    border-bottom: solid 3px #222222;
  }
  .menu a {
    color: inherit;
  }
  .menu a:hover {
    text-decoration: none;
  }

.list-centered {
  margin: 0 auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
  .list-centered li {
    margin: 0 15px;
  }

#nav {
  width: 100%;
  height: 42px;
  background-image: linear-gradient(rgba(255,255,255,0.97),rgba(255,255,255,0.93));
}

#burger {
}
  .burger .popover {
    margin-top: 25px;
  }
  .burger .menu li:last-child {
    margin-bottom: 5px;
  }

/*
 * Section
 * --------------------------------------------------
*/
.section {
  position: absolute;
  margin-top: -92px;
  padding-top: 92px;
  padding-bottom: 70px;
  width: 100%;
  z-index: -1;
  display: none;
}
  .section:target, .section:last-child {
    display: block;
  }
  .section:target ~ .section:last-child {
    display: none;
  }

/*
 * Tweets
 * --------------------------------------------------
*/
#tweets {
}

/*
 * News
 * --------------------------------------------------
*/
#news {
}
.link {
  position: relative;
  float: left;
  margin-top: 40px;
  padding-left: 20px;
  padding-right: 20px;

  -ms-word-break: break-all;
  word-break: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
}
  .link + .clearfix {
    margin: 0 15px;
    /* underline */
    /* padding-bottom: 15px; */
    /* border-bottom: solid 1px #eee; */
  }

  .title {
  }
    .link .title {
      font-weight: 700;
      font-size: 24px;
      line-height: 30px;
      margin-top: 0;
    }
    .title a {
      color: #5b5256;
    }
      .title a:hover {
        text-decoration: none;
        color: #222222;
      }

  .site {
    color: #999999;
  }
    .link .site {
      font-size: 16px;
      line-height: 22px;    
    }

  .crop {
    float: right;
    overflow: hidden;
    width: 40%;
    height: auto;

    padding: 1px;
    margin-left: 5px;
    margin-bottom: 5px;
  }
    .crop div {
      position: relative;
      max-width: none;
      width: auto;
      height: auto;
      margin-top: 0;
      padding-top: 80%;
  }
    .crop img {
      position: absolute;
      left: -100%;
      right: -100%;
      top: -100%;
      bottom: -100%;
      width: auto;
      height: 120%;
      margin: auto; 
      -ms-interpolation-mode: bicubic;
    }

  .image {
  }

  .description {
    font-family: Georgia;
    font-size: 16px;
    line-height: 22px;
    color: #333333;
  }

  .readers {
    margin-left: -5px;
    margin-right: -5px;
  }
    .readers .popover {
      margin-top: 25px;
    }
    .readers a:hover, 
    .readers a:focus {
      text-decoration: none;
    }
    .readers .pic {
      margin-top: 10px;
      margin-left: 5px;
      margin-right: 5px;
    }
    .tweet .popover {
      visibility: hidden;
    }

/*
 * Featured
 * --------------------------------------------------
*/
#featured {
  top: 92px;
}

/*
 * Fellows
 * --------------------------------------------------
*/
#fellows {
}
.fellow {
  position: relative;
  float: left;
  margin-top: 40px;
  padding-left: 20px;
  padding-right: 20px;
}
  .fellow a {
    float: left;
  }
  .fellow a:hover {
    text-decoration: none;
  }
  .fellow a:hover .name {
    color: #222222;
  }
  .fellow .mug {
    float: left;
    margin-right: 15px;
  }
  .fellow .details {
    float: left;
  }
    .fellow .name {
      font-size: 18px;
      font-weight: 700;
      color: #5b5256;
      margin-bottom: 5px;
    }
    .fellow .screen_name {
      color: #999999;
      font-size: 16px;
      margin-bottom: 0;
    }

/*
 * Footer
 * --------------------------------------------------
*/

.footer {
  width: 100%;
  margin-top: 30px;
  margin-bottom: 30px;
}
  .footer span {
    padding: 0 10px;
  }