
<div class="link">
    <h2 class="title">
        <a href="{{ link.url }}">{% if link.title is none %}{{ link.site }}{% else %}{{ link.title|truncate(75, end="...") }}{% endif %}</a>
    </h2>
    <p class="site">
        <span>{{ link.site }}</span>{% if status is defined %}
        <!-- {{ status.status_id }}
        {{ status.url }} -->{% endif %}
    </p>{% if link.image_url != none %}
    <div class="crop">
        <div><img class="image" src="{{ link.image_url }}" /></div>
    </div>{% endif %}
    <div class="description">
        {% if link.description is not none %}<p>
            {{ link.description|striptags|truncate(150, end="...") }}
        </p>{% endif %}
    </div>
    <div class="readers">
        {% for fellow in link_fellows %}<a href="/@{{ fellow.screen_name }}/marks">
            <img class="reader" src="{{ fellow.profile_image_url}}" title="@{{ fellow.screen_name }}" /></a>{% endfor %}
    </div>
</div>