{% extends "base.html" %}
{% block title %}{% if reader %}@{{ reader.screen_name }}{% else %}Svven{% endif %}{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="page-header header" style="border:0">
            <div class="pull-left">
                <a href="/" ><div class="logo">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 176 176">
                    <path d="M28.812,73.36L58.521,43.65L88.23,73.359l29.709-29.709l29.709,29.709L88.23,132.778
                        L28.812,73.36z M117.939,25.287L88.23,54.996L58.521,25.287L10.449,73.36l77.781,77.782l77.782-77.782L117.939,25.287z" class="marque-path" />
                    </svg>
                </div></a>
            </div>
            <div class="pull-right">
            {% if reader %}
                <a href="/@{{ reader.screen_name }}">
                    <img class="reader" src="{{ reader.profile_image_url}}" title="@{{ reader.screen_name }}" /></a>
            {% endif %}
            </div>
            <div class="clearfix" />
        </div>

        <div class="page-content">
            <div class="row">
                <ul class="list-unstyled">
                {% if edition is defined %}{% for link in edition %}{% set link_fellows = link.fellows %}
                    <li>{% include "news/article.html" %}
                        <div class="clearfix enable-sm {% if loop.index is divisibleby 2 %}enable-md{% endif %} {% if loop.index is divisibleby 3 %}enable-lg{% endif %}"></div>
                    </li>{% endfor %}{% endif %}
                {% if marks is defined %}{% for mark in marks %}{% set link = mark.link %}{% set link_fellows = [mark.reader] %}{% set status = mark.twitter_status %}
                    <li>{% include "news/article.html" %}
                        <div class="clearfix enable-sm {% if loop.index is divisibleby 2 %}enable-md{% endif %} {% if loop.index is divisibleby 3 %}enable-lg{% endif %}"></div>
                    </li>{% endfor %}{% endif %}
                </ul>
            </div>
        </div>

        <div class="footer readers">
            <hr />
            {% for fellow in fellows %}
            <a href="/@{{ fellow.screen_name }}">{#{ url_for('news.marks', screen_name=fellow.screen_name) }#}
                <img class="reader" src="{{ fellow.profile_image_url}}" title="@{{ fellow.screen_name }}" /></a>{% if fellow.fellowship is defined %}
            <div class="debug"><span class="site">{{ fellow.fellowship }}</span><br /></div>{% endif %}
            {% endfor %}
            <hr />
        </div>
    </div>
{% endblock %}