{% extends "base.html" %}
{% block title %}Svven - Featured profiles{% endblock %}

{% block content %}
  <div class="container-fluid">
    {% include "news/header.html" %}
    {% from "news/friendship.html" import friendship with context %}
    <div id="nav">
      <ul class="menu list-unstyled list-centered">
        <li><a href="/featured">Featured</a></li>
      </ul>
    </div>

    <div id="featured" class="section">
      <h2 class="hidden name">featured</h2>
      <div class="row">
        <ol class="list-unstyled">
          {% for fellow in readers %}
          <li>{% include "news/fellow.html" %}
            <div class="clearfix enable-sm {% if loop.index is divisibleby 2 %}enable-md{% endif %} {% if loop.index is divisibleby 3 %}enable-lg{% endif %}"></div>
          </li>{% endfor %}
        </ol>
      </div>
    </div>
  </div>
{% endblock %}

{% block scripts %}
{{super()}}
{{google.uanalytics('UA-60733932-1')}}
  <!--<script src="//platform.twitter.com/widgets.js"></script>-->
  <script src="{{url_for('static', filename='js/jquery.sticky.js')}}"></script>
  <!--<script src="{{url_for('static', filename='js/jquery.ba-hashchange.min.js')}}"></script>-->

  <script src="{{url_for('static', filename='js/index.js')}}"></script>
{% endblock %}