
<div class="fellow">
  <a href="/@{{ fellow.screen_name }}/">
    <div class="mug mug-lg">
      <img class="pic" src="{{ fellow.profile_image_url}}" title="@{{ fellow.screen_name }}" />
    </div>
    <div class="details">
      <div class="name">{{ fellow.name }}</div>
      <div class="user">
        <a class="tweeter" href="https://twitter.com/intent/user/?screen_name={{ fellow.screen_name }}">
          <div class="bird icon-tn">
            <img class="svg" src="{{url_for('static', filename='img/bird.svg')}}" />
          </div>
          <span class="screen_name">@{{ fellow.screen_name }}</span>
          <!-- <span class="label label-default">FOLLOWING</span> -->
        </a>
      </div>
    </div>
  </a>
</div>