
        <div id="header">
            <div class="brand pull-left">
                <a href="/">
                    <div class="logo" title="Svven">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 176 176">
                        <path d="M28.812,73.36L58.521,43.65L88.23,73.359l29.709-29.709l29.709,29.709L88.23,132.778
                            L28.812,73.36z M117.939,25.287L88.23,54.996L58.521,25.287L10.449,73.36l77.781,77.782l77.782-77.782L117.939,25.287z" />
                        </svg></div>
                </a>
            </div>
            <div class="burger pull-right">
                <a id="burger" href="javascript:void(0)" rel="popover" role="button" data-toggle="popover" data-placement="bottom" data-animation="false" data-html="true" data-content="
                    <ul class='menu list-unstyled'>
                        <li><a href='/featured'>Featured</a></li>
                        <!-- <li><a href='/settings'>Settings</a></li> -->
                        <li><a href='/logout'>Logout</a></li>
                    </ul>">
                    <div class="icon icon-sm">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 176 176">
                        <line x1="39.5" y1="123.5" x2="136.5" y2="123.5"/>
                        <line x1="39.5" y1="88" x2="136.5" y2="88"/>
                        <line x1="39.5" y1="52.5" x2="136.5" y2="52.5"/>
                        </svg>
                        </div></a>
            </div>
            <div class="mugshot pull-center">
                <a href="/@{{ reader.screen_name }}/">
                    <div class="mug-md">
                        <img class="pic" src="{{ reader.profile_image_url}}" title="@{{ reader.screen_name }}" />
                    </div>
                </a>
            </div>
        </div>