
<div class="link">
  <h3 class="title">
    <a href="{{ link.url }}" target="_blank" title="{{ link.clean_title }}">{{ link.clean_title|truncate(75) }}</a>
  </h3>
  <div class="meta">
    <span class="site">{{ link.site }}</span>
  </div>
  <div class="clearfix"></div>{% if link.image_url != none %}
  <div class="crop">
    <div><img class="image" src="{{ link.image_url }}" /></div>
  </div>{% endif %}
  <div class="description">
    {% if link.description is not none %}<p>
      {{ link.description|striptags|truncate(150, end="...") }}
    </p>{% endif %}
  </div>
  <div class="clearfix"></div>
  <div class="activity">
    <div class="tweets">{% for fellow in link.fellows %}
      <a class="tweet" href="/@{{ fellow.screen_name }}/" rel="popover" role="button" data-toggle="popover" data-tweet-id="{{ link.statuses[fellow.twitter_user_id] }}">
        <span class="mug-sm">
          <img class="pic" src="{{ fellow.profile_image_url}}" />
        </span>
      </a>{% endfor %}
    </div>
    <div class="controls">
      <a class="share" title="Tweet" href="{{ link.tweet_url }}">
        <div class="bird icon-sm">
          <img class="svg" src="{{url_for('static', filename='img/bird.svg')}}" />
        </div>
      </a>
    </div>
  </div>
</div>