
<div class="link">
    <h3 class="title">
        <a href="{{ link.url }}">{% if link.title is none %}{{ link.site }}{% else %}{{ link.title|truncate(75, end="...") }}{% endif %}</a>
    </h3>
    <p class="site">
        <span>{{ link.site }}</span>
    </p>{% if link.image_url != none %}
    <div class="crop">
        <div><img class="image" src="{{ link.image_url }}" /></div>
    </div>{% endif %}
    <div class="description">
        {% if link.description is not none %}<p>
            {{ link.description|striptags|truncate(150, end="...") }}
        </p>{% endif %}
    </div>
    <!-- <p class="site debug">{% if status is defined %}
        <a href="{{ status.url }}">url</a>
        <a href="https://twitter.com/svvendotcom/status/{{ status.status_id }}">tweet</a>{% endif %}{% if link.relevance is defined %}
        <span>{{ link.relevance }}</span>{% endif %}
    </p> -->
    <div class="clearfix"></div>
    <div class="readers">{% for fellow in link_fellows %}
        <a href="/@{{ fellow.screen_name }}/">
            <span class="mug-sm">
                <img class="pic" src="{{ fellow.profile_image_url}}" title="@{{ fellow.screen_name }}" />
            </span>
        </a>{% endfor %}
    </div>
</div>