
        <div id="profile" class="profile section">
            <div class="row">
                {% with messages = get_flashed_messages(with_categories=true) %}
                <div class="flash center-block text-center">
                    {% for category, message in messages %}
                    <div class="alert alert-{{ category }} alert-dismissible" role="alert">
                      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                      <span>{{ message }}</span>
                    </div>{% endfor %}
                </div>
                {% endwith %}
                <div class="card center-block text-center">
                    <h1>{{ reader.name }}</h1>
                    <div class="user">
                        <a class="tweeter" href="https://twitter.com/intent/user/?screen_name={{ reader.screen_name }}" rel="popover" role="button" data-toggle="popover" data-placement="bottom" data-animation="false" data-html="true" data-trigger="hover" data-tweeter-id="{{ reader.twitter_user_id }}">
                            <div class="bird icon-tn">
                                <img src="{{url_for('static', filename='img/bird.svg')}}" />
                            </div>
                            <span class="screen_name">@{{ reader.screen_name }}</span>
                        </a>
                    </div>
                    <p class="explanation">{% if ego == True %}your profile{% elif reader.user %}registered on {{ reader.auth_user.registered_at.strftime('%-d %b %Y') }}{% elif reader.featured %}featured profile{% else %}not registered yet{% endif %}</p>
                </div>
                <ul class="list-unstyled">
                    <li>
                        <div class="tab">
                            <div class="center-block text-center">
                                <a href="#news">
                                    <div class="icon icon-lg" title="news">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 176 176">
                                        <path d="M39.5,136.5v-55h42v-42h55v97H39.5z M75,75"/>
                                        </svg>
                                    </div>
                                    <h3>news</h3>
                                    <p class="explanation">top links from {% if ego == True %}your{% else %}@{{ reader.screen_name }}'{% if reader.screen_name[-1] != 's' %}s{% endif %} {% endif %} fellows</p>
                                </a>
                            </div>
                            <div class="center-block underline"></div>
                            <ul class="list list-unstyled">{% for link in reader.edition[:3] %}
                                <li><div class="top"><a href="{{ link.url }}">
                                    <span class="title">
                                        {% if link.title is none %}{{ link.site }}{% else %}{{ link.title|truncate(55, end="...") }}{% endif %}
                                    </span> 
                                    <span class="site">{{ link.site }}</span>
                                </a></div></li>{% endfor %}
                            </ul>
                            <div class="center-block text-center">
                                {% if reader.edition|length > 3 %}<a href="#news">
                                    <div class="more anchor">More</div>
                                </a>{% elif not reader.edition %}
                                <div class="na">None</div>
                                {% endif %}
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="tab">
                            <div class="center-block text-center">
                                <a href="#fellows">
                                    <div class="icon icon-lg" title="fellows">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 176 176">
                                        <circle cx="88" cy="88" r="48.5"/>
                                        </svg>
                                    </div>
                                    <h3>fellows</h3>
                                    <p class="explanation">top profiles who tweeted same links as {% if ego == True %}you{% else %}@{{ reader.screen_name }}{% endif %}</p>
                                </a>
                            </div>
                            <div class="center-block underline"></div>
                            <ul class="list list-unstyled">{% for fellow in reader.fellows[:3] %}
                                <li><div class="top"><a href="/@{{ fellow.screen_name }}/">
                                    <div class="mug mug-sm">
                                        <img class="pic" src="{{ fellow.profile_image_url}}" title="@{{ fellow.screen_name }}" />
                                    </div>
                                    <div class="details">
                                        <span class="name">{{ fellow.name }}</span> 
                                        <span class="screen_name">@{{ fellow.screen_name }}</span>
                                    </div>
                                </a></div></li>{% endfor %}
                            </ul>
                            <div class="center-block text-center">
                                {% if reader.fellows|length > 3 %}<a href="#fellows">
                                    <div class="more anchor">More</div>
                                </a>{% elif not reader.fellows %}
                                <div class="na">None</div>
                                {% endif %}
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="tab">
                            <div class="center-block text-center">
                                <a href="#tweets">
                                    <div class="icon icon-lg" title="tweets">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 176 176">
                                        <path d="M39.5,136.5v-97h55v42h42v55H39.5z M101,75"/>
                                        </svg>
                                    </div>
                                    <h3>tweets</h3>
                                    <p class="explanation">latest links from {% if ego == True %}you{% else %}@{{ reader.screen_name }}{% endif %}</p>
                                </a>
                            </div>
                            <div class="center-block underline"></div>
                            <ul class="list list-unstyled">{% for link in reader.picks[:3] %}
                                <li><div class="top"><a href="{{ link.url }}">
                                    <span class="title">
                                        {% if link.title is none %}{{ link.site }}{% else %}{{ link.title|truncate(55, end="...") }}{% endif %}
                                    </span> 
                                    <span class="site">{{ link.site }}</span>
                                </a></div></li>{% endfor %}
                            </ul>
                            <div class="center-block text-center">
                                {% if reader.picks|length > 3 %}<a href="#tweets">
                                    <div class="more anchor">More</div>
                                </a>{% elif not reader.picks %}
                                <div class="na">None</div>
                                {% endif %}
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
