{% extends "base.html" %}
{% block title %}Svven - {{ reader.name }}{% endblock %}
{% set tour = session.pop('tour', None) %}
{% block styles %}
{{super()}}
{% if tour %}
  {%- assets filters="cssmin", output="bootstrap_extras.min.css", "css/bootstrap.tour.css" %}
    <link rel="stylesheet" href="{{ ASSET_URL }}">
  {%- endassets %}
{% endif %}
{% endblock %}

{% block content -%}
  <div class="container-fluid">
    {% include "news/header.html" %}
    {% from "news/friendship.html" import friendship with context %}
    <div id="profile">
      <div class="row">
        {% with messages = get_flashed_messages(with_categories=true) %}
        <div class="flash center-block text-center">
          {% for category, message in messages %}
          <div class="alert alert-{{ category }} alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <span>{{ message }}</span>
          </div>{% endfor %}
        </div>
        {% endwith %}
        <div class="card center-block text-center">
          <h1>{{ reader.name }}</h1>
          <div class="user">
            <a class="tweeter" href="https://twitter.com/intent/user/?screen_name={{ reader.screen_name }}">
              <div class="bird icon-sm">
                <img class="svg" src="{{url_for('static', filename='img/bird.svg')}}" />
              </div>
              <span class="screen_name">@{{ reader.screen_name }}</span>
              {{ friendship(reader) }}
            </a>
          </div>
        </div>
      </div>
    </div>

    <div id="nav">
      <ul class="menu list-unstyled list-centered">
        <li id="item-news"><a href="#news">News</a></li>
        <li id="item-fellows"><a href="#fellows">Fellows</a></li>
        <li id="item-tweets"><a href="#tweets">Tweets</a></li>
      </ul>
    </div>

    <div class="hidden step" style="display:none">
      <div class="popover tour" role="tooltip" style="width:276px">
        <div class="arrow"></div>
        <button class="close" data-role="end" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h3 class="popover-title"></h3>
        <div class="popover-content"></div>
        <div class="popover-navigation">
          <div class="current pull-left"></div>
          <div class="btn-group pull-right">
            <button class="btn btn-default" data-role="prev">Back</button>
            <button class="btn btn-primary" data-role="next">Next</button>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
    
    <div id="tweets" class="section">
      {% if reader.picks %}<h2 class="hidden name">Tweets</h2>
      <div class="row">
        <ol class="list-unstyled">{% for link in reader.picks %}
          <li>{% include "news/link.html" %}
            <div class="clearfix enable-sm {% if loop.index is divisibleby 2 %}enable-md{% endif %} {% if loop.index is divisibleby 3 %}enable-lg{% endif %}"></div>
          </li>{% endfor %}
        </ol>
      </div>{% else %}
      <div class="row na center-block text-center">
        <p class="message">No tweets yet.</p>{% if reader.is_current_user %}
        <p>Latest links you tweeted will be displayed here.</p>{% endif %}
      </div>
      {% endif %}
    </div>

    <div id="fellows" class="section">
      {% if reader.fellows %}<h2 class="hidden name">Fellows</h2>
      <div class="row">
        <ol class="list-unstyled">
          {% for fellow in reader.fellows %}
          <li>{% include "news/fellow.html" %}
            <div class="clearfix enable-sm {% if loop.index is divisibleby 2 %}enable-md{% endif %} {% if loop.index is divisibleby 3 %}enable-lg{% endif %}"></div>
          </li>{% endfor %}
        </ol>
      </div>{% else %}
      <div class="row na center-block text-center">
        <p class="message">No fellows yet.</p>{% if reader.is_current_user %}
        <p>People who tweet same links as you will be displayed here.</p>{% endif %}
      </div>
      {% endif %}
    </div>

    <div id="news" class="section">
      {% if reader.edition %}<h2 class="hidden name">News</h2>
      <div class="row">
        <ol class="list-unstyled">{% for link in reader.edition %}
          <li>{% include "news/link.html" %}
            <div class="clearfix enable-sm {% if loop.index is divisibleby 2 %}enable-md{% endif %} {% if loop.index is divisibleby 3 %}enable-lg{% endif %}"></div>
          </li>{% endfor %}
        </ol>
      </div>{% else %}
      <div class="row na center-block text-center">
        <p class="message">No news yet.</p>{% if reader.is_current_user %}
        <p>Top news tweeted by your fellows will be displayed here.</p>{% endif %}
      </div>
      {% endif %}
    </div>
    
  </div>
{%- endblock %}

{% block custom_scripts -%}
{% if tour %}
  {%- assets filters="jsmin", output="bootstrap_extras.min.js", "js/bootstrap.tour.js" %}
    <script src="{{ ASSET_URL }}"></script>
  {%- endassets %}
  {%- assets filters="jsmin", output="tours.min.js", "js/tours.js" %}
    <script src="{{ ASSET_URL }}"></script>
  {%- endassets %}
    <script type="text/javascript">
      var tour = tours['{{ tour }}']; if (tour) { 
        tour.init(); tour.start(true);
      }
    </script>
{% endif %}
{% include "common/uservoice.html" %}
{%- endblock %}