{% extends "base.html" %}
{% block title %}@{{ reader.screen_name }}{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div id="header">
            <div class="brand pull-left">
                <a href="/"><div class="logo" title="Svven">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 176 176">
                    <path d="M28.812,73.36L58.521,43.65L88.23,73.359l29.709-29.709l29.709,29.709L88.23,132.778
                        L28.812,73.36z M117.939,25.287L88.23,54.996L58.521,25.287L10.449,73.36l77.781,77.782l77.782-77.782L117.939,25.287z" />
                    </svg></div>
                </a>
            </div>
            <div class="burger pull-right enable-sm enable-md">
                <a href="javascript:void(0)" rel="popover" role="button" data-toggle="popover" data-placement="bottom" data-animation="false" data-html="true"><div class="icon icon-sm">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 176 176">
                    <line x1="39.5" y1="123.5" x2="136.5" y2="123.5"/>
                    <line x1="39.5" y1="88" x2="136.5" y2="88"/>
                    <line x1="39.5" y1="52.5" x2="136.5" y2="52.5"/>
                    </svg>
                    </div></a>
            </div>
            <ul class="context menu list-unstyled pull-right enable-lg">
                <li><a href="#edition"><div class="icon icon-sm" title="#edition">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 176 176">
                    <rect x="39.5" y="39.5" width="97" height="97"/>
                    </svg>
                    </div></a></li>
                <li><a href="#fellows"><div class="icon icon-sm" title="#fellows">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 176 176">
                    <circle cx="88" cy="88" r="48.5"/>
                    </svg>
                    </div></a></li>
                <li><a href="#marks"><div class="icon icon-sm" title="#marks">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 176 176">
                    <polygon points="88,39.5 103.758,71.431 138.997,76.551 
                    113.498,101.404 119.517,136.5 88,119.931 56.482,136.5 62.501,101.404 37.003,76.551 72.241,71.431    "/>
                    </svg>
                    </div></a></li>
            </ul>
            <div class="mugshot pull-center">
                <a href="/@{{ reader.screen_name }}/">
                    <div class="mug-md">
                        <img class="pic" src="{{ reader.profile_image_url}}" title="@{{ reader.screen_name }}" />
                    </div>
                </a>
            </div>
        </div>

        <div id="edition" class="section">
            {% if edition %}<h2 class="hidden name">#edition</h2>
            <div class="row">
                <ol class="list-unstyled">{% for link in edition %}
                {% set link_fellows = link.fellows %}
                    <li>{% include "news/link.html" %}
                        <div class="clearfix enable-sm {% if loop.index is divisibleby 2 %}enable-md{% endif %} {% if loop.index is divisibleby 3 %}enable-lg{% endif %}"></div>
                    </li>{% endfor %}
                </ol>
            </div>{% else %}
            <div class="row na center-block text-center">No edition, sorry.</div>
            {% endif %}
        </div>

        <div id="fellows" class="section">
            {% if fellows %}<h2 class="hidden name">#fellows</h2>
            <div class="row">
                <ol class="list-unstyled">
                    {% for fellow in fellows %}
                    <li>{% include "news/fellow.html" %}
                        <div class="clearfix enable-sm {% if loop.index is divisibleby 2 %}enable-md{% endif %} {% if loop.index is divisibleby 3 %}enable-lg{% endif %}"></div>
                    </li>{% endfor %}
                </ol>
            </div>{% else %}
            <div class="row na center-block text-center">No fellows, sorry.</div>
            {% endif %}
        </div>

        <div id="marks" class="section">
            {% if marks %}<h2 class="hidden name">#marks</h2>
            <div class="row">
                <ol class="list-unstyled">{% for link in marks %}
                    {% set link_fellows = [reader] %}
                    <li>{% include "news/link.html" %}
                        <div class="clearfix enable-sm {% if loop.index is divisibleby 2 %}enable-md{% endif %} {% if loop.index is divisibleby 3 %}enable-lg{% endif %}"></div>
                    </li>{% endfor %}
                </ol>
            </div>{% else %}
            <div class="row na center-block text-center">No marks, sorry.</div>
            {% endif %}
        </div>

        <div id="profile" class="profile section">
            <div class="row">
                <div class="card center-block text-center">
                    <h1 class="name">{{ reader.name }}</h1>
                    <div class="user">
                        <a href="https://twitter.com/{{ reader.screen_name }}">
                            <div class="bird icon-tn">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 288 288"><path d="M280.695 59.21c-10.059 4.461-20.868 7.477-32.215 8.832c11.581-6.941 20.475-17.934 24.662-31.031 c-10.837 6.428-22.841 11.096-35.617 13.611c-10.231-10.901-24.809-17.713-40.94-17.713c-30.978 0-56.091 25.113-56.091 56.1 c0 4.4 0.5 8.7 1.5 12.782C95.331 99.4 54 77.1 26.3 43.176c-4.828 8.284-7.594 17.919-7.594 28.2 c0 19.5 9.9 36.6 25 46.686c-9.194-0.291-17.843-2.814-25.405-7.016c-0.004 0.234-0.005 0.469-0.005 0.7 c0 27.2 19.3 49.8 45 54.999c-4.707 1.281-9.662 1.967-14.777 1.967c-3.614 0-7.128-0.352-10.553-1.006 c7.138 22.3 27.9 38.5 52.4 38.953c-19.196 15.043-43.381 24.01-69.659 24.01c-4.527 0-8.992-0.266-13.38-0.783 c24.822 15.9 54.3 25.2 86 25.199c103.169 0 159.585-85.467 159.585-159.586c0-2.432-0.055-4.851-0.162-7.256 C263.666 80.3 273.2 70.5 280.7 59.21z" /></svg>
                            </div>
                            <span class="screen_name">@{{ reader.screen_name }}</span>
                        </a>
                    </div>
                </div>
                <ul class="list-unstyled">
                    <li>
                        <div class="tab">
                            <div class="center-block text-center">
                                <a href="#edition">
                                    <div class="icon icon-lg" title="#edition">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 176 176">
                                        <rect x="39.5" y="39.5" width="97" height="97"/>
                                        </svg>
                                    </div>
                                    <h2 class="name">edition</h2>
                                </a>
                            </div>
                            <ul class="list-unstyled">{% for link in edition[:3] %}
                                <li><div class="top"><a href="{{ link.url }}">
                                    <span class="title">
                                        {% if link.title is none %}{{ link.site }}{% else %}{{ link.title|truncate(55, end="...") }}{% endif %}
                                    </span> &mdash; 
                                    <span class="site">{{ link.site }}</span>
                                </a></div></li>{% endfor %}
                            </ul>
                            <div class="center-block text-center">
                                {% if edition|length > 3 %}<a href="#edition">
                                    <div class="more anchor">&rarr; More</div>
                                </a>{% elif not edition %}
                                <div class="na">Not available.</div>
                                {% endif %}
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="tab">
                            <div class="center-block text-center">
                                <a href="#fellows">
                                    <div class="icon icon-lg" title="#fellows">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 176 176">
                                        <circle cx="88" cy="88" r="48.5"/>
                                        </svg>
                                    </div>
                                    <h2 class="name">fellows</h2>
                                </a>
                            </div>
                            <ul class="list-unstyled">{% for fellow in fellows[:3] %}
                                <li><div class="top"><a href="/@{{ fellow.screen_name }}/">
                                    <div class="mug mug-sm">
                                        <img class="pic" src="{{ fellow.profile_image_url}}" title="@{{ fellow.screen_name }}" />
                                    </div>
                                    <div class="details">
                                        <span class="name">{{ fellow.name }}</span> &mdash; 
                                        <span class="screen_name">@{{ fellow.screen_name }}</span>
                                    </div>
                                </a></div></li>{% endfor %}
                            </ul>
                            <div class="center-block text-center">
                                {% if fellows|length > 3 %}<a href="#fellows">
                                    <div class="more anchor">&rarr; More</div>
                                </a>{% elif not fellows %}
                                <div class="na">Not available.</div>
                                {% endif %}
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="tab">
                            <div class="center-block text-center">
                                <a href="#marks">
                                    <div class="icon icon-lg" title="#marks">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 176 176">
                                        <polygon points="88,39.5 103.758,71.431 138.997,76.551 
                                        113.498,101.404 119.517,136.5 88,119.931 56.482,136.5 62.501,101.404 37.003,76.551 72.241,71.431    "/>
                                        </svg>
                                    </div>
                                    <h2 class="name">marks</h2>
                                </a>
                            </div>
                            <ul class="list-unstyled">{% for link in marks[:3] %}
                                <li><div class="top"><a href="{{ link.url }}">
                                    <span class="title">
                                        {% if link.title is none %}{{ link.site }}{% else %}{{ link.title|truncate(55, end="...") }}{% endif %}
                                    </span> &mdash; 
                                    <span class="site">{{ link.site }}</span>
                                </a></div></li>{% endfor %}
                            </ul>
                            <div class="center-block text-center">
                                {% if marks|length > 3 %}<a href="#marks">
                                    <div class="more anchor">&rarr; More</div>
                                </a>{% elif not marks %}
                                <div class="na">Not available.</div>
                                {% endif %}
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
{{super()}}
    <script src="{{url_for('static', filename='js/popover.js')}}"></script>
    <script type="text/javascript">
        $('img').one('error', function() { 
            this.src = 'data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==';
        });
    </script>
{% endblock %}